#!/bin/bash

### BEGIN INIT INFO
# Provides:  kafka
# Required-Start:
# Required-Stop:
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: kafka service
### END INIT INFO


# Source function library.

RETVAL=0
prog="kafka"
LOCKFILE=/var/lock/subsys/$prog

# Declare variables for Kafka
KAFKA_HOME_DIR={{ kafka_dir }}

start() {
        echo -n "Starting $prog: "
        $KAFKA_HOME_DIR/bin/kafka-server-start.sh $KAFKA_HOME_DIR/config/server.properties &>/dev/null &
        RETVAL=$?
        [ $RETVAL -eq 0 ] && touch $LOCKFILE
        echo
        return $RETVAL
}

stop() {
        echo -n "Shutting down $prog: "
        $KAFKA_HOME_DIR/bin/kafka-server-stop.sh 
        RETVAL=$?
        [ $RETVAL -eq 0 ] && rm -f $LOCKFILE
        echo
        return $RETVAL
}

status() {
        echo -n "Checking $prog status: "

        # TODO
        #RETVAL=$?
        return $RETVAL
}

case "$1" in
    start)
        start
	sleep 3
        ;;
    stop)
        stop
        sleep 3
        ;;
    status)
        status
        ;;
    restart)
        stop
        start
        ;;
    *)
        echo "Usage: $prog {start|stop|status|restart}"
        exit 1
        ;;
esac
exit $RETVAL
